:root{
--dark-gray: #2C3E50;
--aqua-green: #1ABC9C;
--white: #FFFFFF;
--light-gray: #3A546D;
--black: #333333;
}

body{
    color: white;
}

header, #about{
    background-color: #1ABC9C;
}

main {
    background-color: white;
}

#top-footer{
    background-color: var(--light-gray);
}

#btm-footer{
    background-color: var(--dark-gray);
}

/* hader */
.fg-navbar{
    background-color: var(--dark-gray);
}
.navbar-toggler, .navbar-toggler-icon{
    color: white;
}

.navbar-toggler{
    border: 1px solid white;
}

h1{
    font-size: 2.2rem;
}
.star-brace{
    height: 4px;
    width: 15%;
    background-color: white;
}